
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */