<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerNoticeDao">
  <resultMap type="beerNotice" id="beerNoticeMap">
    <id column="no" property="no"/> 
    <result column="conts" property="contents"/>
    <result column="cre_dt" property="createdDate"/>
    <result column="vw_cnt" property="viewCount"/>
  </resultMap>
  
  <select id="selectList" resultMap="beerNoticeMap" parameterType="map">
    select no,title,writer,cre_dt,vw_cnt 
    from BEERNOTICE
    <where>
      <if test="title != null">title like concat('%', #{title}, '%')</if>
      <if test="writer != null">and writer like concat('%', #{writer}, '%')</if>
    </where>
    order by 
    <choose>
      <when test="titleOrder == 'asc'">title asc</when>
      <when test="titleOrder == 'desc'">title desc</when>
      <when test="writerOrder == 'asc'">writer asc</when>
      <when test="writerOrder == 'desc'">writer desc</when>
      <when test="viewCountOrder == 'asc'">vw_cnt asc</when>
      <when test="viewCountOrder == 'desc'">vw_cnt desc</when>
      <when test="noOrder == 'asc'">no asc</when>
      <otherwise>no desc</otherwise>
    </choose>
    limit #{startIndex}, #{length}
  </select>
  
  <select id="selectOne" resultMap="beerNoticeMap" parameterType="int">
    select no,title,cre_dt,vw_cnt,conts
    from BEERNOTICE
    where no = #{value}
  </select>
  
  <select id="selectOneByPassword" resultMap="beerNoticeMap" parameterType="map">
    select no,title,conts,cre_dt,vw_cnt 
    from BEERNOTICE 
    where no=#{no} and password=password(#{password})
  </select>
  
  <insert id="insert" parameterType="beerNotice" 
          useGeneratedKeys="true" keyColumn="no" keyProperty="no">
    insert into BEERNOTICE(title, writer, conts, password, cre_dt, vw_cnt)
    values(#{title}, 'aaa', #{contents}, password(#{password}), now(), 1)
  </insert>
  
  <update id="update" parameterType="beerNotice">
    update BEERNOTICE set 
      title=#{title}, 
      conts=#{contents} 
    where no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from BEERNOTICE 
    where no=#{value}
  </delete>
</mapper>

