<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerListDao">
  <resultMap type="beer" id="beerMap">
    <id column="BRNO" property="no"/> 
    <result column="SCNO" property="scno"/>
    <result column="BRBRNO" property="brbrno"/>
    <result column="CTRYNO" property="ctryno"/>
    <result column="CONO" property="cono"/>
    <result column="MCNO" property="mcno"/>
    <result column="SCNM" property="scname"/>
    <result column="MCNM" property="mcname"/>
    <result column="BRBRNM" property="brbrname"/>
    <result column="BR_DESC" property="describe"/>
    <result column="CTRY" property="country"/>
    <result column="COMP" property="company"/>
    <result column="ACHL" property="alchol"/>
  </resultMap>
  
  <select id="selectBrandList" resultMap="beerMap">
    select * from beers_brand
  </select>
  
  <select id="selectSubCateListAll" resultMap="beerMap">
    select * from beers_sub_cate
  </select>
  
  <select id="selectCtryList" resultMap="beerMap">
    select * from beers_ctry
  </select>
  
  <select id="selectCompList" resultMap="beerMap">
    select * from beers_comp
  </select>
  
  <select id="getBeerBrandNo" resultMap="beerMap" parameterType="map">
    select brbrno from beers_brand
    where beers_brand.brbrnm = #{brand}
  </select>
  
  <select id="getBeerSubCateNo" resultMap="beerMap" parameterType="map">
    select scno from beers_sub_cate
    where beers_sub_cate.scnm = #{subcate}
  </select>
  
  <select id="getBeerCtryNo" resultMap="beerMap" parameterType="map">
    select ctryno from beers_ctry
    where beers_ctry.ctry = #{ctry}
  </select>
  
  <select id="getBeerCompNo" resultMap="beerMap" parameterType="map">
    select cono from beers_comp
    where beers_comp.comp = #{comp}
  </select>
  
  <select id="searchBrandNo" resultMap="beerMap" parameterType="map">
    select brbrno from beers_brand
    where beers_brand.brbrnm = #{search}
  </select>
  
   <select id="searchSubCateNo" resultMap="beerMap" parameterType="map">
    select scno from beers_sub_cate
    where beers_sub_cate.scnm = #{search}
  </select>
  
  <insert id="insert" parameterType="beer">
    insert into beers(scno, brbrno, ctryno, cono, br_desc, achl)
    values(#{scno}, #{brbrno}, #{ctryno}, #{cono}, #{describe}, #{alchol})
  </insert>
  
  <insert id="brandInsert" parameterType="String">
    insert into beers_brand(brbrnm)
    values(#{brbrnm})
  </insert>
  
  <insert id="compInsert" parameterType="String">
    insert into beers_comp(comp)
    values(#{company})
  </insert>
  
  <select id="getAleList" resultMap = "beerMap"> 
    select scno, scnm, mcnm from beers_sub_cate
    inner join beers_main_cate
    on beers_sub_cate.mcno = beers_main_cate.mcno
    where beers_sub_cate.mcno = 1
  </select>
  <select id="getLagerList" resultMap = "beerMap"> 
    select scno, scnm, mcnm from beers_sub_cate
    inner join beers_main_cate
    on beers_sub_cate.mcno = beers_main_cate.mcno
    where beers_sub_cate.mcno = 2
  </select>
  
  <select id="getEtcList" resultMap = "beerMap"> 
    select scno, scnm, mcnm from beers_sub_cate
    inner join beers_main_cate
    on beers_sub_cate.mcno = beers_main_cate.mcno
    where beers_sub_cate.mcno = 3
  </select>
  
  
  <select id="selectSubCateListOne" resultMap = "beerMap">
    select * from beers
    inner join beers_brand
    on beers.brbrno = beers_brand.brbrno
    inner join beers_sub_cate
    on beers.scno = beers_sub_cate.scno
    inner join beers_ctry
    on beers.ctryno = beers_ctry.ctryno
    inner join beers_comp
    on beers.cono = beers_comp.cono
    where beers.scno = #{no}
    
  </select>
  
  
</mapper>
