<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerListDao">
  <resultMap type="beer" id="beerMap">
    <id column="BRNO" property="no"/> 
    <result column="CATENO" property="cateno"/>
    <result column="BRBRNO" property="brbrno"/>
    <result column="CTRYNO" property="ctryno"/>
    <result column="CONO" property="cono"/>
    <result column="CATENM" property="catename"/>
    <result column="BRBRNM" property="brbrname"/>
    <result column="BR_DESC" property="describe"/>
    <result column="CTRY" property="country"/>
    <result column="COMP" property="company"/>
    <result column="ACHL" property="alchol"/>
    <result column="VOL" property="volume"/>
  </resultMap>
  
  <select id="selectBrandList" resultMap="beerMap">
    select * from beers_brand
  </select>
  
  <select id="selectCateList" resultMap="beerMap">
    select * from beers_cate
  </select>
  
  <select id="selectCtryList" resultMap="beerMap">
    select * from beers_ctry
  </select>
  
  <select id="selectCompList" resultMap="beerMap">
    select * from beers_comp
  </select>
  
  <select id="getBeerBrandNo" resultMap="beerMap" parameterType="map">
    select brbrno from beers_brand
    where beers_brand.brbrnm = #{brand}
  </select>
  
  <select id="getBeerCateNo" resultMap="beerMap" parameterType="map">
    select cateno from beers_cate
    where beers_cate.catenm = #{cate}
  </select>
  
  <select id="getBeerCtryNo" resultMap="beerMap" parameterType="map">
    select ctryno from beers_ctry
    where beers_ctry.ctry = #{ctry}
  </select>
  
  <select id="getBeerCompNo" resultMap="beerMap" parameterType="map">
    select cono from beers_comp
    where beers_comp.comp = #{comp}
  </select>
  
  <select id="searchBrandNo" resultMap="beerMap" parameterType="map">
    select brbrno from beers_brand
    where beers_brand.brbrnm = #{search}
  </select>
  
   <select id="searchCateNo" resultMap="beerMap" parameterType="map">
    select cateno from beers_cate
    where beers_cate.catenm = #{search}
  </select>
  
  <insert id="insert" parameterType="beer">
    insert into beers(cateno, brbrno, ctryno,cono, br_desc, achl, vol)
    values(#{cateno}, #{brbrno}, #{ctryno}, #{cono}, #{describe}, #{alchol}, #{volume})
  </insert>
  
  <insert id="brandInsert" parameterType="String">
    insert into beers_brand(brbrnm)
    values(#{brbrnm})
  </insert>
  
  <insert id="compInsert" parameterType="String">
    insert into beers_comp(comp)
    values(#{company})
  </insert>
  
  
  
  
</mapper>
