<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerCateDao">
  <resultMap type="beerCate" id="beerCateMap">
    <id column="CATENO" property="no"/> 
    
    <result column="CATENM" property="name"/>
  </resultMap>
  
  <select id="selectList" resultMap="beerCateMap" parameterType="map">
    select * from BEERS_CATE
    limit #{startIndex}, #{length}
  </select>

</mapper>
