<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerTasteInfoDao">
  <resultMap type="beerTasteInfo" id="beerTasteInfoMap">
    <id column="TINO" property="tino"/> 
    <result column="BRNO" property="brno"/>
    <result column="MNO" property="mno"/>
    <result column="SCORE" property="score"/>
    <result column="BITTER" property="bitter"/>
    <result column="SOUR" property="sour"/>
    <result column="SWEET" property="sweet"/>
    <result column="SPARKLE" property="sparkle"/>
    <result column="BODY" property="body"/>
    <result column="AROMA" property="aroma"/>
  </resultMap>
  
  <select id="selectList" resultMap="beerTasteInfoMap" parameterType="int">
    select * from beers_taste_info
    where brno = #{value}
  </select>
  
  <insert id="insert" parameterType="beerTasteInfo">
    insert into beers_taste_info(brno, mno, bitter, sour, sweet, sparkle, body, aroma, score)
    values(#{brno}, 1, #{bitter}, #{sour}, #{sweet}, #{sparkle}, #{body}, #{aroma}, #{score})
  </insert>

</mapper>
