<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerDao">
  <resultMap type="beer" id="beerMap">
    <id column="BRNO" property="no"/> 
    <result column="CATENO" property="cateno"/>
    <result column="BRBRNO" property="brbrno"/>
    <result column="CATENM" property="catename"/>
    <result column="BRBRNM" property="brbrname"/>
    <result column="BR_DESC" property="describe"/>
    <result column="CTRY" property="country"/>
    <result column="COMP" property="company"/>
    <result column="ACHL" property="alchol"/>
    <result column="VOL" property="volume"/>
  </resultMap>
  
  <select id="selectList" resultMap="beerMap" parameterType="map">
    select * from beers
    inner join beers_brand
    on beers.brbrno = beers_brand.brbrno
    inner join beers_cate
    on beers.cateno = beers_cate.cateno
    order by brno
    limit #{startIndex}, #{length}
  </select>
  
  <select id="selectOne" resultMap="beerMap" parameterType="int">
    select * from beers
    inner join beers_brand
    on beers.brbrno = beers_brand.brbrno
    inner join beers_cate
    on beers.cateno = beers_cate.cateno
    where beers.brno = #{value}
  
  </select>
  
   <select id="selectListCate" resultMap="beerMap" parameterType="map">
    select * from beers
    inner join beers_brand
    on beers.brbrno = beers_brand.brbrno
    inner join beers_cate
    on beers.cateno = beers_cate.cateno
    where beers.cateno = #{cate}
    limit #{startIndex}, #{length}
  </select>
  
   <select id="selectOneCate" resultMap="beerMap" parameterType="int">
    select * from beers
    inner join beers_brand
    on beers.brbrno = beers_brand.brbrno
    inner join beers_cate
    on beers.cateno = beers_cate.cateno
    where beers.cateno = #{value}
    
  </select>

</mapper>
