<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeerBrandDao">
  <resultMap type="beerBrand" id="beerBrandMap">
    <id column="BRBRNO" property="no"/> 
    
    <result column="BRBRNM" property="name"/>
  </resultMap>
  
  <select id="selectList" resultMap="beerBrandMap" parameterType="map">
    select BRBRNO, BRBRNM
    from BEERS_BRAND
    limit #{startIndex}, #{length}
  </select>

</mapper>
